{% block title %}Przerwa techniczna{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Przerwa techniczna</h1>
    <div class="alert alert-warning" role="alert">
	Twają prace nad aplikacją webową. Zapraszamy później.
    </div>
{% endblock %}