{% block title %}Strona główna{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Strona główna</h1>
    {% if danger is defined %}
	<div class="alert alert-danger mt-3">{{danger}}</div>
    {% endif %}
    {% if info is defined %}
	<div class="alert alert-info mt-3">{{info}}</div>
    {% endif %}
{% endblock %}