{% block title %}Strona główna{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-3">Pusta strona startowa</h1>
    
    {% if info is defined %}
	<div class="alert alert-info mt-3">{{info}}</div>
    {% endif %}
{% endblock %}