.body{
    background: linear-gradient(to top left, #336699 0%, #0099dd 100%);
    min-height: 100vh;
}
.fa{
    font-size:24px !important;
    position:relative;
    top:4px;
}
.message{
    font-weight:600;
    font-size:21px;
    position:relative;
    top:3px;
    padding-right:6px;
}
.main{
    min-height:250px;
}
.form-header{
    color:#fff;
    background-color:#212529;
    border-color:#32383e;
    padding:.75rem;
    font-weight:700;
    text-align:center;
}
.form-body{
    background-color:#fff;
    padding:1.25rem;
}
iframe{
    width:1000px;
    height:600px;
    margin:20px auto;
    display:block;
    border:2px solid #000;
}